.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #002349;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-link {
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-link li a {
	color: #d4d4dc;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	background-color: #0A1828;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-link li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
	color: d4d4dc;
	/*background-color: #0A1828;*/
    background: linear-gradient(135deg, #5A7598, #9EABBB, #132956);
	text-align: center;
	height: 100%;
	align-items: center;
}

.content a{
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	color: black;
	
}

.content p a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: black;
	font-weight: bold;	
}

.logo{
	background-color: #0A1828;
	color: #d4d4dc;
	border-radius: 60%;
	font-weight:bold;
	font-size: 20;
	border-shadow: 0 0 7px #fff;
	padding: 10px;
}

.tengah {
	padding: 250px;
}