.skill-box {
    background: linear-gradient(135deg, #5A7598, #9EABBB, #132956, #091B3D);
    border-radius: 18px;
    padding: 32px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.18);
    text-align: center;
    color: #ffffff;
    transition: all 0.35s ease;
    backdrop-filter: blur(4px);
}


.skill-box h2 {
    color: black;
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.skill-box .info-label {
    background: #0A1828;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 10px;
    margin: 8px 0;
    display: inline-block;
    font-size: 0.95rem;
    font-weight: 500;
    transition: background 0.3s ease, color 0.3s ease;
}

.skill-box:hover {
    background: #ffffff;
    color: #0A1828;
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgb(0,0,0,0.22);
}

.skill-box:hover .info-label {
    background: #132956;
    color: #fffff;
}

body {
background: linear-gradient(135deg, #5A7598, #9EABBB, #132956, #091B3D);
} 
